body {
    background-color: #999;
    background-image: url('../img/background.jpg');
    font-weight: bold;
    color:#222;
}

.tresc {
    width: 60%; 
    text-align: center;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    margin-bottom: 30px;
    padding:30px;
}

.row {
    text-align: left;
}

.avRanking {
    width: 40px;
    height: 40px;
}

.modifyScrollButton {
    z-index: 0;
    width: 90%;
}

.footer {
    box-shadow: inset 0px 10px 30px rgba(69,69,69,0.6);
    width: 100%; 
    height: 200px; 
    padding: 20px;
    border-top: solid 2px #222; 
    text-align: center; 
    font-size: 14px; 
    background-color: #111;
    
    font-weight: none;
    color: #bbb;
}

.footerNag {
    font-size: 18px;
    color: #fff;
}

.copyright {
    color: white;
    font-size: 10px;
}


.contact {
    color: #699;
}

a.previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin: 20px;
}

a.previous:hover {
    background-color: #f1f1f1;
    color: #000;
}

.previous {
    background-color: #000;
    color: #f1f1f1;
}